<nav class="navbar navbar-expand-lg navbar-light bg-warning rounded-bottom" aria-label="Twelfth navbar example">
    <div class="container-fluid">


        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active fw-bold fs-4" aria-current="page" href="{{ path('app_index') }}">Wild
                        Series</a>
                </li>
            </ul>
        </div>
    </div>
</nav>